.navbar {
  background-color: #ffffff;
  padding: 0.6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #2A4552;
  position: fixed;
  gap: 0 25rem;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  min-height: 60px;
}

.navbar-logo {
  width: 230px;
  max-width: 100%;
  padding-top: 0.3rem;
  transition: width 0.3s ease;
}

.navbar.shrink .navbar-logo {
  width: 180px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-links {
  display: flex;
  list-style: none;
  padding: 0px;
  position: relative; 
}

.navbar-links.mobile {
  display: none;
  flex-direction: column;
  width: 100vw;
  text-align: center;
  background-color: white;
  position: absolute;
  top: 100%;
  left: 0;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
  text-align: left;
  height: 100vh;
  margin-top: 0px;
  border-top: 1px solid #ddd;
  
}

.navbar-links.mobile.show {
  display: flex;
  
}

.navbar-links.mobile li {
  padding: 0.8rem 0;
  border-bottom: 1px solid #ddd;
}

.navbar-links.mobile li:last-child {
  border-bottom: none;
}

.navbar-links.mobile a {
  display: block;
  padding-left: 1rem;
  font-size: 1rem;
  
}

/* Style for expandable sublinks */
.dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 0.8rem;
  color: #6F1D1B;
}

.dropdown-toggle.active {
  color: #2A4552;
  font-weight: bold;
}

.dropdown-submenu {
  display: none;
  flex-direction: column;
  /* padding-left: 2rem; */
  background: #fff;
}

.dropdown-submenu.show {
  display: flex;
}

.dropdown-submenu a {
  padding: 0.7rem 0;
  font-size: 0.95rem;
  color: #6F1D1B;
}

.dropdown-toggle i {
  font-size: large;
  margin-bottom: 0px;
  transform: rotate(180deg); 
}

.dropdown-toggle.active i {
  transform: rotate(360deg); 
  /* margin-top: 4px; */
} 

.navbar-links a {
  color: #6F1D1B;
  text-decoration: none;
  font-size: 1rem;
  margin: 0;
  padding: 5px 1.5rem;
  transition: all 0.1s ease;
  position: relative;
}

.navbar-links a:hover {
  color: #2A4552;
  transform: translateY(-2px);
}

.dropdown-toggle:hover {
  color: #2A4552;
  border-radius: 10px;
  font-weight: bold;
}
.navbar-links a.active {
  color: #2A4552;
  font-weight: bold;
  width: 100%;
  
}

.navbar-links a:hover:not(.active) {
  font-weight: bold;

}

.dropdown {
  position: relative;
  padding: 0px;

}

.dropdown-menu {
  display: none;
  position: absolute;
  background: white;
  list-style: none;
  left: 0;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 400px;
  font-weight: normal;
  border-radius: 5px;
  top: 200%;

}

.dropdown-menu.show {
  display: block; 
}

.dropdown-menu li {
  padding: 0.5rem 1rem;
  
}

.dropdown-menu li a {
  color: #6F1D1B;
}

.dropdown-submenu {
  display: none;
  flex-direction: column;
  padding-left: 2rem;
}

.dropdown-submenu.show {
  display: flex;
}

.menu-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  background: none;
  border: none;
  color: #6F1D1B;
  margin-right: 2rem;
  
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 0rem;
    justify-content: center;
  }

  .navbar-left {
    width: 100%;
    justify-content: space-between;
    margin: 0 0px;
  }

  .menu-icon {
      display: block;
      margin-right: 1rem;
  }

  .navbar-links .dropdown-submenu {
    display: none;
  }

  .navbar-links .dropdown-submenu.show {
    display: flex;
  }
  
  .dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 1rem;
    color: #6F1D1B;
  }

  .dropdown-toggle i {
    visibility: visible;
    transform: rotate(0deg);  /* Ensure the icon starts without rotating */
  }

  .dropdown-toggle.active i {
    font-weight: bold;
    transform: rotate(180deg);  /* Rotate the chevron when dropdown is active */
  }

  .navbar-logo {
    width: 50%;
    margin-left: 1rem;
    
  }

  .dropdown-submenu a {
    padding: 0.7rem 0;
    margin-top: 0.3rem;
    font-size: 0.95rem;
    color: #6F1D1B;
  }
}

@media (max-width: 1024px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 0rem;
    justify-content: center;
  }

  .navbar-left {
    width: 100%;
    justify-content: space-between;
    margin: 0 0px;
  }

  .navbar-logo {
    max-width: 400px;
    margin-left: 1rem;
  }

  .menu-icon {
    margin-top: -5px;
    display: block;
    
  }

  .navbar-links {
    display: none;
  }

  .dropdown-submenu a {
    padding: 0.7rem 0;
    font-size: 0.95rem;
    color: #6F1D1B;
  }
}

/* Breadcrumbs */
  .breadcrumb {
    color: #202;
    padding: 1.5rem 0;
    font-size: 1.1rem;
    display: inline-flex;
    align-items: center;
  }
  
  .breadcrumb a {
    color: #0D6287; /* Link color */
    text-decoration: none;
    margin: 0 0.6rem;
  }

  .breadcrumb a:hover {
    text-decoration: underline;
  }

  .breadcrumb img {
    width: 1.2rem;
    margin-right: 1rem;
  }

  .breadcrumb .home-breadcrumb {
    display: inline-flex;
    align-items: center;
  }

  .breadcrumb .active {
    margin: 0 0.8rem;
  }
