.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.flex-align-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}

.text-column {
  flex: 1 1 300px;
  text-align: left;
  max-width: 1000px;
}

.box-column {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.header {
  background-size: cover;
  background-position: center;
  color: #202020;
  margin: 0 auto;
  padding: 5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
}

.subHeader {
  padding: 3.5rem;
  color: white;
  background-color: rgb(221, 221, 221);
  text-align: center;
}

.redCover {
  background-color: #B54D49;
}

.blueCover {
  background-color: #0D6287;
}

.home {
  background-image: url('/public/assets/home-header.png');
}

.content-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.text-space {
  width: 50%;
  padding-left: 20px;
}

.video-container {
  width: 50%;
  padding-left: 20px;
}

.video-container video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

.home p {
  font-size: 1rem;
  color: #202;
}

.p-width {
  width: 100%;
}

.section-features {
  text-align: center;
  margin: 3rem 0px;
  padding: 4rem 3rem;
  border-radius: 20px;
}

h1,
h2,
h3 {
  font-family: 'Poppins Bold';
  margin-bottom: 16px;
  line-height: 1.1;
  font-size: 3rem;
}

h2 {
  font-family: 'Poppins Bold';
  font-size: 2.3rem;
}

h3 {
  font-family: 'Poppins Bold';
  font-size: 1.5rem;
}

.title-tag {
  color: white;
  padding: 5px 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  /* border-radius: 0px 20px 20px 0px; */
  border-radius: 20px 0px;
  opacity: 0.8;
}

.blueBg {
  background-color: #72a6b6;
}

.redBg {
  background-color: #6F1D1B;
}

.blue-text {
  color: #0d6287;
}

.red-text {
  color: #B54D49;
}

.button {
  background-color: #2A4552;
  color: #eee;
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  font-family: 'Poppins Bold';
  letter-spacing: 0.5px;
  font-size: 1.125rem;
  cursor: pointer;
  transition: 0.5s;
}

.button.blue {
  color: white;
  background-color: #2A4552;
}

.button.blue:hover {
  color: white;
  background-color: #0D6287;
}

.box-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 950px;
  margin: 60px auto;
  padding: 0 5rem;
}

.box-content {
  display: flex;
  align-items: center;
  gap: 8px;
  /* Adjust spacing between icon and text */
}

.icon img {
  width: 24px;
  /* Adjust as needed */
  height: 24px;
}

.box {
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.4);
}

.box .icon {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  background-color: transparent;
  padding: 5px;
  border: 2px solid white;
}

.box .icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box .main-text {
  font-size: 1rem;
  font-family: 'Poppins Bold';
  color: #ffffff;
  text-align: left;
}

.box .sub-text {
  font-size: 1rem;
  color: white;
  text-align: left;
}

.big-text {
  font-size: 1.7rem;
}

/* Featured Knots */
.featured-knots {
  text-align: center;
  padding: 2.5rem 2rem;
  margin: 2rem;
  background-color: #b54d49;
  border-radius: 2rem;
  color: white;
}

.knots-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: 15px;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  justify-content: left;
}

.knot-card h3 {
  color: #0D6287;
  margin: 1rem 0;
  font-size: 1.2rem;
}

.knot-image {
  overflow: hidden;
}

.knot-image img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  display: block;
}

.knot-card:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.knot-card:hover .knot-image img {
  transform: scale(1.2);
}

.knot-card:focus-within {
  outline: 3px solid #0D6287;
}

.knot-card .button.red {
  margin-top: auto;
  font-family: 'Poppins Bold';
  align-self: flex-start;
}

.knot-image img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.knot-image {
  overflow: hidden;
}

.button-container {
  height: 3.5rem;
}


.knot-name {
  padding: 1rem 1rem 0;
  margin: 0;
  font-family: 'Poppins Bold';
  color: #0D6287;
  background-color: white;
  font-size: 1.2rem;
  transition: color 0.3s ease;
  position: relative;
  z-index: 2;
}

.featured-knot-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  padding: 1rem;
  background: #0D6287;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  box-sizing: border-box;
  overflow-y: auto;
  margin: 0;
  color: white;
  font-size: 1rem;
  line-height: 1.5;
}

.knot-card:hover .knots-image {
  opacity: 0;
  transform: scale(0.9);
}

.knot-card:hover .knots-description {
  opacity: 1;
  visibility: visible;
}

.knot-card:hover .button.red {
  position: relative;
  z-index: 3;
}

.button.red {
  background-color: #b54d49;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  cursor: pointer;
  margin: 0px 1rem;
  transition: 0.2s;
  font-family: 'Poppins Bold';
  margin-top: auto;
  align-self: stretch;
}

.button.red:hover {
  background-color: #6F1D1B;
}

.button-darkred {
  background-color: #6F1D1B;
  color: #eee;
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  font-family: 'Poppins Bold';
  letter-spacing: 0.5px;
  font-size: 1.125rem;
  cursor: pointer;
  transition: 0.5s;
}

.button-darkred:hover {
  background-color: #b54d49;
}

.home-clear-icon {
  position: absolute;
  right: 40px;
  /* Adjust to keep space from search icon */
  cursor: pointer;
  transform: translateY(-165%);
  width: 22px;
}

.search-wrapper {
  position: relative;
  width: 100%;
}

.search-wrapper input {
  width: 100%;
  font-size: 1rem;
  font-family: 'Poppins';
  border-radius: 100px;
  border: 2px solid #ccc;
}

.home-clear-icon {
  position: absolute;
  top: 5%;
  transform: translateX(-0%);
  cursor: pointer;
  font-size: 1.2rem;
  color: #888;
  width: 35px;
  height: 25px;
  padding: 9px;
}

.home-search-button {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-search-bar {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  width: 100%;
  max-width: 500px;
}

.home-search-bar input {
  width: 100%;
  padding: 12px 0px 12px 15px;
  border: 2px solid #ccc;
  border-radius: 50px;
  /* Rounded */
  font-size: 16px;
  font-family: 'Poppins';
  outline: none;
  transition: 0.3s ease-in-out;
}

.home-search-bar input:focus {
  border-color: #5192A5;
  box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.6);
  /* Brighter glow */
}

.home-search-button img {
  width: 20px;
  height: 20px;
  padding: 9px;
  border-radius: 100%;
  transform: translateX(0%);
  transition: all 0.2s ease-in-out;
}

.home-search-bar img:hover {
  background-color: #ddd;
}

@media (max-width: 480px) {
  .knot-card {
    width: 87%;
    margin: 0;
    padding: 0;
  }

  .button {
    font-family: 'Poppins Bold';
  }
}

@media (max-width: 768px) {
  .knots-container {
    display: grid;
    padding: 0;
    box-sizing: border-box;
  }

  .button {
    font-family: 'Poppins Bold';
  }

  .featured-knots {
    padding: 2rem 1rem;
    margin: 1rem;
  }

  .featured-knot-description {
    display: none;
  }

  .subHeader {
    padding: 1.3rem;
  }

  .home {
    flex-direction: column;
    align-items: center;
    padding: 0rem;
  }

  .content-wrapper {
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding: 2rem 0;
  }

  .p-width {
    width: 100%;
  }

  .text-space,
  .video-container {
    width: 100%;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .home p {
    color: #202;
    font-size: 1rem;
  }

  .box {
    width: 100%;
    height: auto;
    padding: 0.7rem;
  }

  .section-features {
    padding: 0rem 1rem;
  }

  .box .main-text {
    font-size: 1.2rem;
  }

  .box .sub-text {
    font-size: 0.9rem;
  }

  .button {
    font-size: 0.9rem;
    padding: 0.5rem 1.2rem;
  }

  .button-container {
    margin: 3rem 0px -0.5rem 0px;
  }

  .knot-card {
    border-radius: 14px;
  }

  .knot-name {
    font-size: 1.1rem;
    height: 10px;
  }

  .knot-description {
    font-size: 0.85rem;
  }

  .home-search-bar {
    margin-bottom: 1rem;
    max-width: 95%;
  }

  .home-search-bar input {
    font-size: 14px;
  }

  .home-clear-icon {
    width: 18px;
    right: 35px;
    transform: translateX(-30%);
  }

  .home-search-icon img {
    width: 25px;
  }
}