.POPPINS-ABOUTUS{
  font-family: 'Poppins ';
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .breadcrumb {
    font-size: 14px;
    color: gray;
  }
  
  .breadcrumb a {
    color: blue;
    text-decoration: none;
  }
  
  .breadcrumb a:hover {
    text-decoration: underline;
  }
  
  .about-section {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .about-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .AboutUshighlight {
    color: #2A4552;
  }
  .AboutUshighlight-pedia {
  color:#B54D49;
}
  .mission-vision {
    display: flex;
    background-color: #EFEFF0;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .mission, .vision {
    flex: 1;
    padding: 10px;
  }
  
  .mission-title {
    color: #2A4552;
    font-size: 45px;
    font-weight: bold;
  }
  
  .vision-title {
    color: #B54D49;
    font-size: 45px;
    font-weight: bold;
  }
  
  .policy-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 950px;
    margin: auto;
    padding: 0 5rem;
  }
  
  .card {
    width: 250px;
  height: 350px;
  background-color: #f9f9f9;
  border: 1px solid #E4E4E4;
  border-radius: 10%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .blue {
    color: #2A4552;
  }
  
  .red {
    color: #dc3545;
  }
  
  .border-blue {
    border-color: #007bff !important;
  }
  