.POPPINS-ABOUTUS{
  font-family: 'Poppins' ;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }

  .about-section {
    background-color: #eee;
  background-size: cover;
  background-position: center;
  color: black;
  padding: 4.5rem;
  margin: 20px 0px;
  text-align: left;
  }
  
  .about-title {
 
    font-size:55px;
    font-weight: bold;
  }
  
  .AboutUshighlight {
    
    color: #0D6287;
  }
  .AboutUshighlight-pedia {
  color:#B54D49;
}
  .mission-vision {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .mission, .vision {
    flex: 1;
    padding: 10px 20px;
    background-color: #eee;
    height: 250px;
  }
  
  .policy-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 950px;
    margin: auto;
    padding: 0 5rem;
  }
  .title-card{
    font-size: 28px;
  }

  .questBig{
    font-size: 36px;
    color:#2A4552;
  }

  .card {
    background: white;
    border-radius: 20px;
    text-align: left;
    border: 2px solid #eee;
    width: 250px;
    height: auto;
    padding: 1rem;
    box-shadow: none; /* Removing existing shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card h4 {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Poppins Bold';
    margin: 10px 0px -5px 0px;
    color: white;
    padding: 0 1rem;
  }
  
  .card p {
    color: white;
    margin: 1rem;
    padding: 0px;
    font-size: 1rem;
  }
  
  .card:hover {
      transform: scale(1.05);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    }
    
  
  .blue {
    color: #2A4552;
  }
  
  .red {
    color: #dc3545;
  }
  
  .border-blue {
    border-color: #007bff !important;
  }
  