.terms-h {
  background-color: #F2F2F2;
  background-size: cover;
  background-position: center;
  color: black;
  padding: 9rem 5rem;
  text-align: left;
}

.breadcrumb-terms {

  margin-top: 5.5%;
}

.terms-POPPINS {
  font-family: 'Poppins';
}

.Header-terms {
  width: 100vw;
  /* Ensure it takes the full viewport width */
  background-color: #f2f2f2;
  /* Light gray background */
  padding: 40px 0;
  /* Padding only top and bottom */
  text-align: center;

}

.terms-container {
  max-width: 1000px;
  /* Keep the text centered */
  margin: 0 auto;
  padding: 10px;
  background: white;
}

.terms-spacemargin {
  max-width: 1134px;
  /* Ensure text stays within a readable width */
  margin: 10px auto;
  padding: 10px;
  background: white;
  border-radius: 8px;
}

.terms-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Poppins Bold';
} 

.terms-title span {
  color: #B54D49;
  /* Red color for 'Conditions' */
}

.terms-text {
  text-align: center;
  color: #202;
  /* Gray-600 */
  margin-bottom: 20px;
}

.terms-section {
  margin-bottom: 20px;
}

.terms-section h2 {
  color: #0D6287;
  /* Blue-600 */
  margin-bottom: 5px;
  font-family: 'Poppins Bold';
}

.terms-list {
  list-style-type: disc;
  padding-left: 10px;
  color: #202;
  /* Gray-700 */
}

.terms-list a {
  color: #2563eb;
  text-decoration: underline;
}