body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins';
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/assets/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('../public/assets/Poppins-Bold.ttf') format('truetype');
}
