.POPPINS-sitemap {
  font-family: 'Poppins';
}

.sitemap {
  background-image: url('/public/assets/home-header.png');
}

.sitemap-highlight {
  color: #0D6287;
}

.sitemap-highlight-pedia {
  color: #B54D49;
}

.sitemap-policy-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* or center */
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .sitemap-card {
    width: 100%;
  }
}

.sitemap-card {
  flex: 0 1 calc(30.333% - 2rem); /* 3 cards per row with spacing */
  max-width: calc(30.333% - 2rem);
  min-width: 280px;
  text-align: left;
  height: auto;
  padding: 1rem;
  background-color: #eee;
  border-radius: 15px;
  box-shadow: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sitemap-card li{
  font-size: 1.2rem;
}

.sitemap-card h4 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Poppins Bold';
  margin: 0;
  color: #B54D49;
  padding: 0.5rem;
}

.sitemap-card p {
  color: white;
  margin: 1rem;
  padding: 0;
  font-size: 1rem;
}

.sitemap-blue {
  color: #2A4552;
}

.sitemap-links a {
  color: #0D6287;
}

.sitemap-links a:hover {
  text-decoration: underline;
}

.sitemap-links li {
  margin: 0.5rem 1rem;
}