.policy-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 950px;
  margin: auto;
  padding: 0 2rem; /* reduced for smaller screens */
}

.card-container {
  margin: 2.5rem 0px;
}

.about-container {
  width: 100%;
  margin: 0 auto;
  padding: 0rem;
}

.mission {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
  text-align: left;
  justify-content: center;
  flex-wrap: nowrap;
}

.box-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.box-title {
  text-align: left;
  font-size: 2rem;
}

.about-container img {
  width: 100%;
  max-width: 500px;
  height: auto;
  flex-shrink: 0;
}

.box-desc {
  line-height: 1.8;
  max-width: 700px;
}

.blue-text {
  color: #0d6287;
}

.red-text {
  color: #b54d49;
}

.card {
  background: white;
  border-radius: 20px;
  text-align: left;
  border: 2px solid #eee;
  width: 250px;
  height: auto;
  padding: 1rem;
  box-shadow: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h4 {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Poppins Bold';
  margin: 10px 0 -5px 0;
  color: white;
  padding: 0 1rem;
}

.card p {
  color: white;
  margin: 1rem;
  padding: 0;
  font-size: 1rem;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.blue {
  color: #2A4552;
}

.red {
  color: #dc3545;
}

.border-blue {
  border-color: #007bff !important;
}

/* Responsive Layout for Mobile Devices */
@media (max-width: 768px) {
  .mission {
    flex-direction: column;
    text-align: left;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 1rem;
  }

  .about-container img {
    width: 100%;
    max-width: 100%;
  }

  .box-desc {
    max-width: 100%;
    padding: 0 1rem;
  }

}
